<form method ="POST" action ="/members/<%= @member.id%>">

  <label for = "first_name-field">First Name</label>
  <input type ="text" name ="first_name" id ="first_name-field" value ="<%= @member.first_name%>"/>

  <label for ="second_name-field">Second Name</label>
  <input type ="text" name ="second_name" id ="second_name-field" value ="<%= @member.second_name%>"/>

  <label for = "edit_member_info-field">Edit member info</label>
  <input type "text" name ="title" id ="edit_member_info-field" value ="<%= @member.member_info %>" />

  <input type ="submit" values ="Edit Member" />

</form>
