<form method ="POST" action ="/members/<%= @member.id%>">

  <label for = "first_name-field">First Name</label>
  <input type ="text" name ="first_name" id ="first_name-field" value ="<%= @member.first_name%>"/>

  <label for ="second_name-field">Second Name</label>
  <input type ="text" name ="second_name" id ="second_name-field" value ="<%= @member.second_name%>"/>

  <input type ="submit" values ="Edit Member" />

</form>
