<h1>Register a new member</h1>

<form method= "POST" action ="/members">
  <label for ="first_name">First Name:</label>
  <input id ="first_name" type ="text" name ="first_name"/>

  <label for ="last_name">Last Name:</label>
  <input id ="last_name" type ="text" name ="second_name"/>

  <label for ="member_info">Members info:</label>
  <input id ="member_info" type ="text" name ="member_info"/>

  <input type ="submit"/>

</form>
