<h1>Register a new member</h1>
<div class ="center">

<form method= "POST" action ="/members">
  <label for ="first_name">First Name:</label>
  <input id ="first_name" type ="text" name ="first_name"/>

  <label for ="last_name">Last Name:</label>
  <input id ="last_name" type ="text" name ="second_name"/>

  <label for ="dob">Date of birth</label>
  <input id ="dob" type ="text" name ="dob"/>

  <label>
    Select a membership type:
    <select name="membership_type">
      <option value="Premium">Premium</option>
      <option value="Regular">Regular</option>
      </select>
  </label>


  <label for ="join_date">Join date</label>
  <input id ="join_date" type ="text" name ="join_date"/>


  <input type ="submit" value = "Add members" />

</form>
</div>
