<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
table {

    border-collapse: collapse;
    width:15%;
    color:red;
    background-color: white;
    font-size: 15px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

</style>
  <style>
  .button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }

.button {
    background-color: red;
    color: black;
    border: 2px solid black;

}

.button:hover {
    background-color: red;
    color: white;
}
  </style>
  <meta charset="utf-8">
  <style>
  table, th, td {
   border: 1px solid white;
   color: red;
}
</style>

  <title>Global Gym</title>
  <link rel="stylesheet" type="text/css" href="/styles/front-page.css">
  <link rel="stylesheet" type="test/css" href="/styles/tables.css">

</head>
<body>
  <a href="/members" class="button">Members</a>
  <a href="/gymclass" class="button">Gym classes</a>
  <a href="/signed_up" class="button">All bookings</a>

</html>
<main>
  <div class="nav">
    <div class="nav-header">
      <div class="nav-title">

      </div>
    </div>
    <div class="nav-links">
      <ul>

      </ul>
    </div>


  </div>

  <%= yield %>
</body>
</html>
