<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Global Gym</title>
    <link rel="stylesheet" type="text/css" href="/styles/front-page.css"


  </head>
  <body>
    <main>
      <div class="nav">
        <div class="nav-header">
          <div class="nav-title">
            <!-- <img src="./images/weightroom.png" -->
          </div>
        </div>
        <div class="nav-links">
          <ul>
          <li><a href="/members">Members</a></li>
        <li><a href="/gymclass">Classes</a></li>
        <li><a href="/signed_up">Members in classes</a></li>
    </ul>
    </div>


  </div>

    <%= yield %>
  </body>
</html>
