<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Global Gym</title>
  <link rel="stylesheet" type="text/css" href="/styles/front-page.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <a href="/members" class="button">Members</a>
  <a href="/gymclass" class="button">Gym classes</a>
  <a href="/signed_up" class="button">All bookings</a>

  </html>
  <main>
    <div class="nav">
      <div class="nav-header">
        <div class="nav-title">
        </div>
      </div>
      <div class="nav-links">
        <ul>

        </ul>
      </div>


    </div>

    <%= yield %>
  </body>
  </html>
