<form method ="POST" action ="/gymclass/<%= @gymclass.id%>">

  <label for = "title-field">Title:</label>
  <input type ="text" name ="title" id ="title-field" value ="<%=@gymclass.title %>" />

  <label for ="time-field">Time:</label>
  <input type ="text" name ="time" id ="time-field" value="<%=@gymclass.time %>" />

  <input type ="submit" values="Edit Class" />

</form>
