<h1>Gym Classes</h1>

<form method "get" action="/gymclass/new">
  <input type="submit" value="New Class"/>
</form>

<table>
  <tr>
    <th>Title</th>
    <th>Time</th>
  </tr>

  <% for gymclass in @gymclass %>
  <tr>
    <td>
      <%= gymclass.title %>
    </td>
    <td>
    <%= gymclass.time %>
  </td>
</tr>
<td>
  <form action ="/gymclass/<%= gymclass.id%>">
    <input type ="submit" value ="Class Info"/>
  </form>
</td>

  <%end%>
</table>
