<h1>Add a new class</h1>

<form method = "POST" action ="gymclass">
  <label for "title">Title:</label>
  <input id ="title" type ="text" name ="title" />

  <label for ="time">Enter Time:</label>
  <input id ="time" type ="text" name ="time" />

  <input type ="submit" value ="Submit New Class" />

</form>
