<h1>Gym Classes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Time</th>
  </tr>

<tr>
  <td><%= @gymclass.title %></td>
  <td><%= @gymclass.time %></td>
</tr>
</table>

<form action ="/gymclass/<%= @gymclass.id %>/edit">
  <input type ="submit" value ="Edit Class"/>
</form>

<form method ="post" action ="/gymclass/<%= @gymclass.id %>/delete">
  <input type ="submit" value ="Delete Class"/>
</form>
