<form method ="POST" action ="/signed_up/<%= @signed_up.id%>">

  <label for = "name.full_name-field">Full Name</label>
  <input type ="text" name ="full_name" id ="full_name-field" value ="@signed_up.full_name %>" />

  <label for = "title-field">Title</label>
  <input type "text" name ="title" id ="title-field" value ="@gymclass.title %>" />

  <input type ="submit" values ="Edit Class and Member"

</form>
