<h1>Choose a club member and a class</h1>

<form action="/signed_up" method="post">
  <label>
    Select a member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.first_name %></option>
      <% end %>
      </select>
  </label>
  <label>
    Select a class:
    <select name="gymclass_id">
      <% for gymclass in @gymclass %>
      <option value="<%= gymclass.id %>"><%= gymclass.title %></option>
      <% end %>
      </select>
  </label>


  <input type = 'submit' value="Add to class" />
</form>
